:root{
  --azul-principal: #084F8C;
  --azul-secundario:  #0511F2;
  --cinza-texto: #575757;
  --branco: #fff;
  --cinza-claro: #B6B4B4;
  --verde-agua: #04BF8A;
}

*{
  margin:0;
  padding:0;
  font-family: Roboto, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(imagen_unifortes.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;  
  overflow: hidden;
}

.banner {
  background: url(imagen_unifortes.png) center/cover;
  text-align: left;
  padding: 80px 80px;
  margin-top: 50px;
}

header {
  background: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
  
}

.search-bar input[type="text"] {
  margin-right: 5px;
  width: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  margin-right: 5px;
  border-radius: 10px;
}


.search-bar button {
  background-color: var(--azul-principal);
  border: none;
  padding: 1px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.search-bar button:hover {
  background-color: #04BF8A;
}


.navigation-links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

.link {
  font-size: 18px;
}


.title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
  
}

.subtitle {
  font-size: 24px;
  color: #fff;
  
}

.link:hover {
  color: #04BF8A;
}

.Unifortes{
  color:var(--azul-secundario);
}

.Unifortes:hover{
  color: var(--verde-agua);
}



footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-content div {
  text-align: center;
  color: #000;
  height: 160%;
  margin: 0 auto;
}

.footer-content p {
  margin: 5px 0;
}


.footer-content i {
  font-size: 40px; 
    color: #04BF8A; 
  margin-bottom: 10px; 
}


















